.App {
  padding: 30px;
  display: flex;
  justify-content: space-evenly;
  color: white;
}

.App > div {
  margin-right: 50px;
}

li {
  list-style-type: none;
}

button {
  margin: 10px;
  padding: 5px;
  background-color: lightslategray;
  color: white;
}

.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: darkred;
  border: 2px solid;
}

.is-done {
  opacity: 0.5;
}

.title {
  font-size: 1.5em;
}

input {
  background-color: darkgoldenrod;
  color: white;
  border-style: none;
  border-bottom: 1px solid black;
}


::placeholder {
  color: white;
  opacity: 50%;
  text-align: center;
}